[submodule "hs-msgpack-types"]
	path = hs-msgpack-types
	url = https://github.com/l29ah/hs-msgpack-types.git
[submodule "hs-msgpack-binary"]
	path = hs-msgpack-binary
	url = https://github.com/l29ah/hs-msgpack-binary.git
